<div class="welcome">
    <h1>Blog post</h1>
    <p1>welcome to the blog post page</p1>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <img src="pics/sport.jpg" class="img-thumbnail" alt="">
        </div>
        <div class="col">
            Kickboxing is, perhaps, the most underrated combat sport: it’s the foundation and predecessor of mixed martial arts, and a long-practiced tradition in its own right. Kickboxing doesn’t have the prestige or mass appeal of hands-only boxing, but still cultivates in its practitioners a skillset that’s more useful and applicable in real-world self-defense situations. Of course it’s also true that kickboxing is a great form of exercise for general fitness. Many people practice non-contact cardio kickboxing as a fitness routine, but traditional combat-focused kickboxing is certainly a rigorous workout as well.
            Although there are many styles of kickboxing, perhaps the most popular kind of kickboxing is Muay Thai, which literally means “Thai kickboxing.” Muay Thai has gained international popularity over the last few decades, not least because many successful MMA fighters either began as Muay Thai trainees or continued to practice the style throughout their MMA careers. But the history of Muay Thai is a long one – much longer than standard Western kickboxing, which only really took hold in the mid-20th century. Muay Thai, on the other hand, has flourished in Thailand since the 1700s. And I started this career when I was 13. I registered myself in one of the kickboxing clubs in my home town Iran.
            I went to the most popular clubs in my town called Azadian sport club there my coaches thought me how to punch and so on. then when I turned 15 i took my first match in my country I become champion when I was 17 and and in the age of 19 i became professional kickboxer in my country after having many matches. then when I turned 20 i choose to be a coach assistant until I turned 21. 
        </div>
    </div>
</div>

{{#if validationErrors.length}}
    <p>could not create because:</p>
    <ul>
        {{#each validationErrors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}

<form action="" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name: </label>
            <input type="text" name="name" value = "{{blogPosts.name}}"  class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Your comment: </label>
            <textarea class="form-control" type="text" name="comment" id="exampleFormControlTextarea1" rows="3">{{blogPosts.comment}}</textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Create">
</form>

{{#if blogPosts.length}}
    <p>we have comments! ({{blogPosts.length}})</p>

    {{#each blogPosts}}
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    {{name}}
                </div>
                <div class="col">
                    {{comment}}
                </div>
                {{#if ../isLoggedIn}}
                    <div class="col">
                        <a href="/update-blogPost/{{id}}"> <button type="button" type="submit" class="btn btn-warning">Edit</button> </a>
                        <form action="/delete-blogPost/{{id}}" method="POST"> <input type="submit" class="btn btn-danger" value="Delete"></form>
                    </div>
                {{/if}}
            </div>
        </div>
    {{/each}}
{{else}}
    <p>we have no comments!</p>
{{/if}}