<div class="container">
    <div class="header">
        <h1>Guestbook</h1>
        <p1> what do you think of my website?</p1>
    </div>
    {{#if validationErrors.length}}
        <p>could not create because:</p>
        <ul>
            {{#each validationErrors}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{/if}}

    <div class="form">
        <form action="" method="post">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name: </label>
                <input type="text" name="name" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Your comment: </label>
                <textarea class="form-control" type="text" name="comment" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Create">
        </form>
    </div>
</div>

{{#if comments.length}}
    <p>we have comments! ({{comments.length}})</p>

    {{#each comments}}
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    {{name}}
                </div>
                <div class="col">
                    {{comment}}
                </div>
                {{#if ../isLoggedIn}}
                    <div class="col">
                        <a href="/update-comments/{{id}}"> <button type="button" type="submit" class="btn btn-primary">Edit</button> </a>
                        <form action="/delete-comment/{{id}}" method="POST"> <input type="submit" class="btn btn-danger" value="Delete"></form>
                    </div>
                {{/if}}    
            </div>
        </div>
    {{/each}}
{{else}}
    <p>we have no comments!</p>
{{/if}}
