<div class="h1">
    <h1>MY PORTFOLIO</h1>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 25rem;">
                <img src="pics/Range-Rover.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1>CAR SURFACE</h1>
                    <p class="card-text">This was my final design of the car surface while I was studying Industrial Design in my home country.<br><strong>I used SolidWorks 2016 and CATIA V5-R21.</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 25rem;">
                <img src="pics/em.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1>EMINEIM</h1>
                    <p class="card-text">In this piece of art I used Emineim picture as my inspration and silhouette Design <br><strong>I used Adobe Illustrator and PhotoShop.</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            {{!-- <div class="col">
                <div class="card" style="width: 25rem;">
                    <img src="pics/engine.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h1>CAR ENGINE</h1>
                        <p class="card-text">This was my final project while I was studying Industrial Design back in my home country.<br><strong>I used SolidWorks 2016.</strong></p>
                    </div>
                </div>
            </div> --}}
            <div class="col">
                <div class="card" style="width: 25rem;">
                    <img src="pics/iv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h1>GTA IV</h1>
                        <p class="card-text">I design this artist piece with insprasion of the GTA IV and it's city.<br><strong>In this piece of art I used Adobe illustrator.</strong></p>
                    </div>
                </div>
            </div>
        </div>
        </div>     
    </div>
</div>

{{#if validationErrors.length}}
    <p>could not create because:</p>
    <ul>
        {{#each validationErrors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}

<form action="" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name: </label>
            <input type="text" name="name" value = "{{portfolios.name}}" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Your comment: </label>
            <textarea class="form-control" type="text" name="comment" id="exampleFormControlTextarea1" rows="3" >{{portfolios.comment}}</textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="create">
</form>

{{#if portfolios.length}}
    <p>we have comments! ({{portfolios.length}})</p>

    {{#each portfolios}}
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    {{name}}
                </div>
                <div class="col">
                    {{comment}}
                </div>
                {{#if ../isLoggedIn}}
                    <div class="col">
                        <a href="/update-portfolio/{{id}}"> <button type="button" type="submit" class="btn btn-warning">Edit</button> </a>
                        <form action="/delete-portfolio/{{id}}" method="POST"> <input type="submit" class="btn btn-danger" value="Delete"></form>
                    </div>
                {{/if}}
            </div>
        </div>
    {{/each}}
{{else}}
    <p>we have no comments!</p>
{{/if}}